body{
    background-color:#ce8c74;
    margin: 0;
    color:#ffffff;
}

#menu {background-color:#a56e5e;
    margin-top: -25px;
    width: 400px;
    height: 2000PX;  
    text-align: center;
    text-shadow: 0xp 0xp 3xp rgb(0, 0, 0, 0.7);
}



H1, h2 {  padding-left: 25px;
font-family: "Noto Serif", serif;
text-shadow: 3px 5px 3px rgb(0, 0, 0, 0.7); }

.logo{
border-radius: 20%;
border: ridge #7c5a5a;
box-shadow: 3px 5px 3px rgb(0, 0, 0, 0.7);
margin-top: 50px;

}

.links1 {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 3px 5px 3px rgb(0, 0, 0);
    font-weight: 600; 
    display:flex;
    flex-direction: column;
    padding: 1rem 0;
    }
.links1:hover {
    background-color: #ce8c74;
}


header{ 
    float: left;
}

.info1 {
    background-color:#fff;
    margin: 1rem 1rem 0.5rem 27rem;      
    color: #000;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    max-height: flex;
    height: 200px;
}


.info2{
    background-color:#fff;
    color: #000;
     margin: 1rem 1rem 0.5rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 200px;
    
}

.info3 {
    background-color:#fff;
    color: #000;
     margin: 1rem 1rem 0.5rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    width: 300px;
 height: 200px;

}

.info4 {
    background-color:#fff;
    color: #000;
     margin: 1rem 1rem 0.5rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 200px;
}
.info5 {
    background-color:#fff;
    color: #000;
     margin: 1rem 1rem 0.5rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    width: 300px;
   height: 200px;

}

.info6 {
    background-color:#fff;
    color: #000;
     margin: 1rem 1rem 0.5rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    width: 300px;
height: 200px;
}

.info7 {
    background-color:#fff;
    color: #000;
     margin: 1rem 1rem 0.5rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
    width: 300px;
  height: 200px;

}



#conteudo{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

footer {
    background-color: #7c5a5a;
    color:#fff;
    font-size: 1.8rem;
text-align: center;
clear:both;
padding: 0.5rem;
font-family: "Noto Serif", serif;}



    h3{
        text-align: center;
        font-size: 1.5 rem;
        font-family: "Noto Serif", serif;
        text-shadow: 3px 5px 3px rgb(160, 141, 141);
    
    }

    p, li, summary{
        font-size: 1.5 rem;
        font-family: "Noto Serif", serif;
    }

    h2{
        font-size: 2rem;
    }
    h1{
        font-size: 1.2rem;
    }