 .grafico{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    transition: width 0.8s;
 }
 .grafico:hover{
    width: 900px;
 }
.links2{
   background-color: #fff;
   margin: 1.5rem 1rem 50rem 26rem;
   padding: 1.3rem;
   border-radius: 1rem;
   display: flex;
   justify-content: space-evenly;
}
.links2 a{
   text-decoration:solid;
   color: #684949;
   font-size: 1.1rem;
   font-family: "Noto Serif", serif;
   font-weight: 800;

}
.linha{
   border-left: 1px solid #684949;
   height: 1rem;
}